NEXT_PUBLIC_SUPABASE_URL=https://ngutnyltjvcwdjihfgjn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_eEkK8vpAnwrwe97THUBBqg_UnUe0ckP
SUPABASE_SECRET_KEY=
ADMIN_USERNAME=SMWCAPI
ADMIN_PASSWORD_HASH=
SESSION_SECRET=
